
<header>
  <div class="menyubar">
  <div class="heading">
   <a href="srfuw" class="top"><img src="assets/srfuw_mizika_touka.png"  class="spNone"></a>
   <a class="ueue" href"srfuw">Sofuw</a>
   <ul class="nav">
<li><a href="#">Sofuwとは</a>
<ul>
<li><a href="#">Sofuwの目的</a></li>
<li><a href="#">お問い合わせ</a></li>
<li><a href="#">利用規約</a></li>
</ul>
</li>
<li><a href="#">掲示板</a>
<ul>
<li><a href="#">雑談</a>
</li>
<li><a href="#">質問</a></li>
</ul>
</li>
<li><a href="#">ｐ</a>
<ul>
<li><a href="#">d1</a></li>
<li><a href="#">d1</a>
</li>
</ul>
</li>
<% if user_signed_in? %>
<li><%= link_to "ログアウト", destroy_user_session_path, class: 'post' ,method: :delete%>
<ul>
<li> <a href="/users/<%= current_user.id %>">マイページ</a></li>
</ul>
</li>
<% else %>
<li><%= link_to "ログイン", new_user_session_path, class: 'post' %>
<ul>
<li><%= link_to "新規登録", new_user_registration_path, class: 'post' %>/li>
</ul>
</li>
<% end %>
</ul>
  </div>
    <div class="yohaku"></div>
    <div class="setumei">
    <img src="assets/srfuw_mizika_touka.png" class="setumei"></img>
    <!--<img src="image/black0036.png" class="setumei_haikei"></img>-->
    <h1>ようこそ</h1>
    </div>
    </div>
</header>
<body>
      <div class="yohaku"><h1></h1></div>
      <div class="saido" >
        <a href="" class="saido_gazou"><img src="assets/srfuw_mizika_touka.png"></img></a>
        <h1>Sofuwとは？<br>詳しくは上の画像をクリック</h1>
        <p></p>
        <a href="" class="saido_gazou"><img src="assets/hanpen_aikon.jpg"  alt="aaa"></a>
        <h1>Sofuwは<br>はんぺん教を支援しています</h1>
        <h1>上の画像をはんぺんをクリックしてはんぺん教へ！</h1>
      </div>
    <ul id="nav">
  <li><a href="srfuw" class="tyatto_menyu">雑談</a></li>
  <li><a href="srfuw/situmon" class="tyatto_menyu">質問</a></li>
  <li><a href="srfuw/new" class="tyatto_menyu">投稿する</a></li>
  <!--<li><a href="#">web関係</a></li>-->
    </ul>
  <div class="zentai">
      <div class="bodying">
          <div class="box11">
            
<div class="contents row" >
<% @srfuw.each do |srfuw| %>
   <p><%= srfuw.text %>/<%= srfuw.user.nickname %>
   <br>
   <%= link_to '部屋に入る', "/srfuw/#{srfuw.id}", method: :get ,class: 'posts'%>
   <% if user_signed_in? && current_user.id == srfuw.user_id %>
   <%= link_to '削除|', "/srfuw/#{srfuw.id}", method: :delete ,class: 'posts'%>
   <%= link_to '編集|', "/srfuw/#{srfuw.id}/edit", method: :get ,class: 'posts'%></p>
   <% end %>
   <hr>
<% end %>
<%= paginate(@srfuw) %>
</div>
          </div>
      </div>
  </div>

</body>
<footer>
  <div class="fooding">
      <h1 class="kopiraito">(C)Sofuw</h1>
  </div>
</footer>
</html>